/*Logo*/
/* body{
    --text: #fff;
    --background-color: #000000;
    --description-text-color: #aaa;
    --primary-color: #b50202;
    --lighter-background-color: #222;
    --checkout-blue: #1063ff;
    --websitePrimaryColor: #b50202;
    box-sizing: border-box;
    margin: 20;
    padding: 20;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: #fff;
    overflow: unset;
} */


.back-logo{
    align-content: center;
    max-width: 100%;
    background-color: rgb(25, 25, 25);
    border-radius: 0px; 
    box-shadow: rgb(25, 25, 25);
    height: 200px;
}
.logo{
    height:200px;
    align-content: center;
}
.back-logo img {
    max-height: 800px;
    max-width: 100%;
    box-sizing: content-box;
    padding: 10px;
    border-bottom: 10px;
    align-content: center;
    padding-left: 420px;
}

.back-menu{
    align-content: center;
    max-width: 100%;
    background-color: rgb(25, 25, 25);
    border-radius: 0px; 
    box-shadow: rgb(25, 25, 25);
    height: 60px;
    padding: 0 10px;
}
.submenu {
    display: inline-block;
    padding: 5px 20px;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    color: white;
}
.menu {
    text-align: center;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 0 10px;
}

/*Propuesta de Negocio y telefono*/
#propuesta{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

#img-desc{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#back-desc{
    background: rgba(235, 235, 235, 0.473) url(../images/background/concrete-wall.png) repeat;
    position: relative;
    z-index: 100;
}

#desc_telf{
    padding: 20px;
    text-align: center;
    margin-top: 60px;

}

/*Promociones*/
.carousel-item {
	height: 500px;
}




























