.h1 .h2 .h3 .h4{
    color: #333;
    font-weight: 500;
    line-height: 1em;
}

/*Categoria: Premium*/

#premium1{
    margin-top: 80px;
    margin-left: -10px;
    padding-right: 50px;
    padding-bottom: 20px;
    width: 500px;
}
#desc_premium1{
    margin-top: 80px;
    margin-left: 10px;
}

/*Categoria: Vegetariana*/
#veggie1{
    margin-top: 80px;
    margin-left: -10px;
    padding-right: 50px;
    padding-bottom: 20px;
    width: 400px;
}

#desc_veggie1{
    margin-top: 80px;
    margin-left: 100px;
}

/*Categoria: Sabores del mundo*/
#sabor-m1{
    margin-top: 80px;
    margin-left: -10px;
    padding-right: 50px;
    padding-bottom: 20px;
    width: 500px;
}

#desc-sabor-m1{
    margin-top: -2300px;
    margin-left: 150px;
    padding: 20px
}

/*Fichas en general*/
.img-fichas{
    padding-left: 50px;
    padding-right: 340px;
    size: 400px;
}

#price{
    color: #f40000;
}

/*Valor nutricional*/
#tabla-nutricional{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
